<div class="container">
        <div class="jumbotron">
<form #loginFormGroup = "ngForm"(ngSubmit)="formDetails(loginFormGroup.value)">
    <div class="form-group">
        <label for="firstName">FirstName</label>
        <input type="text"
            name="firstName"
            #firstName='ngModel'
            ngModel
            pattern="[a-zA-Z ]+"
            style="width: 350px;height: 40px; color:deeppink"
            class="form-control"
            [ngClass] ='{"is-invalid" :  loginFormGroup.controls.firstName?.invalid && firstName.touched}'
            placeholder="First name" required>
      <div class="invalid-feedback" *ngIf="loginFormGroup.controls.firstName">
        <p *ngIf ="firstName.errors?.required">Firstname</p>
        <p *ngIf ="firstName.errors?.pattern">only letters</p>

      </div>
      </div>
      <div class="form-group">
        <label for="lastName">LastName</label>
        <input type="text"  
         name="lastName"
         #lastName='ngModel'
         ngModel
         pattern="[a-zA-Z ]+"
         style="width: 350px;height: 40px; color:deeppink"
         class="form-control"
         [ngClass] ='{"is-invalid" :  loginFormGroup.controls.lastName?.invalid && lastName.touched}' 
         id="LastName"  placeholder="LastName" required>
         <div class="invalid-feedback" *ngIf="loginFormGroup.controls.lastName">
                <p *ngIf ="lastName.errors?.required">Firstname</p>
                <p *ngIf ="lastName.errors?.pattern">only letters</p>
         
         </div>
      </div>
      <div class="form-group">
            <label for="exampleInputAddress" style="color:darkblue">Address</label>
            <input type="text" #address='ngModel'
            ngModel
            required
             name="address"
            style="width: 350px;height: 40px; color:darkorchid"
            class="form-control" 
            [ngClass] ='{"is-invalid" : loginFormGroup.controls.address?.invalid && address.touched}'
            placeholder="Address">
            <div class = "invalid-feedback">
                <p *ngIf ="address.errors?.required">This is mandatory field</p>
                
             </div>
          </div>
          <div class="form-group">
                <label for="exampleInputCity" style="color:darkblue">City</label>
              <input type="text"  
              #city='ngModel'
              ngModel
              required
              pattern="[a-zA-Z ]+"
              name="city"
              style="width: 350px;height: 40px; color:cyan"
              class ="form-control"
               [ngClass] ='{"is-invalid" : loginFormGroup.controls.city?.invalid && city.touched}'
                placeholder="city">
               <div class="invalid-feedback" >
                  <p *ngIf ="city.errors?.required">This is mandatory field</p>
                  <p *ngIf ="city.errors?.pattern">only letters</p>
               </div>
            </div>
            <div class="form-group">
                <label for="exampleInputState" style="color: darkblue">State</label>
              <input type="text" 
              ngModel
              #state='ngModel'
              pattern="[a-zA-Z ]+"
              required name="state"
              style="width: 350px;height: 40px; color:darkorchid"
              class="form-control"
              [ngClass] ='{"is-invalid" : loginFormGroup.controls.state?.invalid && state.touched}'
              placeholder="state">
               <div class="invalid-feedback">
                  <p *ngIf ="state.errors?.required">This is mandatory field</p>
                  <p *ngIf ="state.errors?.pattern">only letters</p>
           </div>
            </div>

    <button type="submit" class="btn btn-primary">Delete</button>
    <button type="submit" class="btn btn-primary">Cancel</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  </div>
  </div>