
<table class="table table-striped">
  <thead>
    <tr>
      <th appSortby = "firstName" (sorted) = "sort($event)" >First Name </th>
      <th appSortby = "lastName" (sorted) = "sort($event)" >Last Name</th>
      <th appSortby = "address" (sorted) = "sort($event)" >Address</th>
      <th appSortby = "city" (sorted) = "sort($event)" >City</th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor = "let data of customersData" [routerLink] = '[data.id,"detail"]'>
    <td><img src="assets/{{ data.gender | lowercase }}.png" class="grid-image" width="150" height="150" alt="Customer Image"></td>
    <th scope="row">{{data.firstName | titlecase}}</th>
    <td>{{data.lastName | titlecase}}</td>
    <td>{{data.city | titlecase}}</td>
    <td>{{data.state.name}}</td>
    <td><a href="#" class="btn btn-primary">View Orders</a></td>
  </tr>
</tbody>
</table>

